@import "variables";
@import "properties";

.body {
  display: flex;
  flex: 1 0 auto;
  height: calc(100vh - #{$nav-height} - #{$status-bar-height});
  overflow: hidden;
  margin: 0 auto;
  width: $body-width;
}

.body-full {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 auto;
  height: calc(100vh - #{$nav-height} - #{$status-bar-height});
  //overflow: hidden;
  margin: 0;
  width: 100%;

  .overlay {

    position: absolute;
    top: calc(#{$options-bar-height} + 10px);
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: $color-bg-dark;
    border: 1px solid $color-bg-dark;
    box-shadow: 1px 1px 2px 1px $color-primary-light;

    .row {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      font-size: 0.8em;

      .text {
        @extend %flex-center-v;
        padding: 0.5em 0.75em;
      }

      .number-picker {

        @extend %user-select-none;
        display: flex;

        color: $color-primary-text-dark;
        background-color: $color-primary-text;
        border: 1px solid $color-primary-light;
        margin: 0.5em 0.25em;

        .icon {

          @extend %flex-center-v;
          min-width: 1.5em;
          color: $color-primary-text-dark;
          background-color: $color-primary-text;
          padding: 0.5em;
          cursor: pointer;

          &:hover:not(.inactive) {
            background-color: $color-primary-light;
            color: $color-primary-text;
          }

        }

      }

    }

  }
}
