@import "variables";

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    left: -1px;
    top: 100%;
  }

  //&:hover {
  //  .dropdown-content {
  //    display: flex;
  //  }
  //}

}


.dropdown-item {
  padding: 0.5em;
  background-color: white;
  color: $color-primary-text-dark;
  border-bottom: 1px solid $color-primary-light;
  border-left: 1px solid $color-primary-light;
  border-right: 1px solid $color-primary-light;
  &:first-of-type {
    border-top: 1px solid $color-primary-light;
  }
  &:hover {
    background-color: $color-primary-light;
    color: $color-primary-text;
  }
}
