@import "variables";

.fileview {

  display: flex;
  width: 100%;
  padding-top: 0.5em;
  overflow-y: auto;

  .gutter {

    .line-number {
      min-width: 20px;
      text-align: right;
      padding: 0 0.35em;
      margin-right: 0.65em;
      border-right: 1px solid #e1e2e1;
    }

  }

  .editor {
    width: 100%;
    pre {
      padding-bottom: 4em;
    }
    .message {
      padding: 2em;
      text-align: center;
      font-size: 1.25em;
      font-weight: bold;
      color: $color-primary-dark;
    }
  }

  pre, code {
    margin: 0;
    padding: 0;
  }

}
