
// centered vertically and horizontally, items layed out vertically
%flex-center-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%flex-center-h {
  display: flex;
  align-items: center;
  justify-content: center;
}

// user cannot select text
%user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
