@import "variables";
@import "properties";

.status {
  display: flex;
  width: 100%;
  min-height: $status-bar-height;
  max-height: $status-bar-height;
  background-color: $color-primary-light;
  color: $color-primary-text;
}

.status-body {
  font-family: monospace;
  display: flex;
  width: $body-width;
  margin: 0 auto;
  padding: 0 1em;
}

.status-item {
  @extend %flex-center-v;

  &.right {
    margin-left: auto;
  }

}
