$fa-font-path: '../webfonts';

// layout
$body-width: 1024px;

// colors
$color-primary: #455a64;
$color-primary-light: #708690;
$color-primary-dark: #1b3039;
$color-primary-text: #ffffff;
$color-primary-text-light: #a5abb8;
$color-primary-text-dark: #152932;
$color-bg-dark: #e1e2e1;
$color-bg-light: #f5f5f6;

// navbar variables
$nav-height: 70px;
$nav-background-color: $color-primary;

$nav-header-background-color: $color-primary;
$nav-header-color: $color-primary-text;
$nav-header-font-size: 2em;

$nav-button-width: 1.1*$nav-height;
$nav-button-background-color: transparent;
$nav-button-color: $color-primary-text;
$nav-button-icon-size: 1.5em;
$nav-button-font-size: 1em;

$nav-hover-background-color: $color-bg-light;
$nav-hover-color: $color-primary;

// status bar variables
$status-bar-height: 25px;

// options bar variables
$options-bar-height: 50px;
$options-bar-button-min-width: 100px;

// menu variables
$menu-width: 320px;
$menu-background-color: $color-bg-light;
$menu-header-background-color: $color-bg-dark;
$menu-header-color: $color-primary-dark;

// filetree variables
$filetree-minwidth: 260px;
$filetree-maxwidth: 280px;
$filetree-header-height: 60px;
$filetree-file-height: 40px;
