@import "variables";
@import "fonts";
@import "nav";
@import "status";
@import "optionsbar";
@import "body";
@import "filetree";
@import "graphview";
@import "tableview";
@import "treeview";
@import "fileview";
@import "dropdown";
@import "eval";

html, body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}
