/.classpath
/.project
/buddy.dll
/buddytest.kks
/build.sh
/builddocs.sh
/customSolver/
/debtnotes.txt
/jar/
/kodkod/
/notes.txt
/org/
/pardinus-cli.iml
/pardinus.txt
/pom.xml
/run.sh
/runtest.sh
/server/
/syntax
/temprun.sh
